body{
    background-color: antiquewhite;
    background-image: url(images/blk4k);
    margin: 3% 7%;
}
h1{
    font-family: 'Merriweather',cursive;
    font-size: 3rem;
}
h2{
    font-family: 'Merriweather',cursive;
    line-height: 2;
}
li,p{
    font-family: 'Ubuntu',cursive;
    font-size: 1rem;
    line-height: 2;
}

tt{
    font-family: 'Merriweather',cursive;
    padding: 70px;
    font-size: 3rem;
}
td,th{
    font-size: 1.5rem;
    padding: 5px;
}
table{
    align-self: center;
    border: 5px solid black;
    border-style: double;
    padding: 7px;
    border-spacing: 5px;
}
.table{
    align-items: center;
    padding-left: 100px;
}
.atag{
    margin-top: 100px;
    margin-left: 700px;
    text-align: center;
    font: size 20px;px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#ffffff;
  border-color:#057fd0;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  text-shadow: 0px -1px 0px #5b6178;
  background:linear-gradient(#33bdef, #019ad2);
}
.atag:hover {
    background: linear-gradient(#019ad2, #33bdef);
  }
