body{
    background-color: antiquewhite;
    margin: 3% 7%;

}
h1{
    font-family: 'Merriweather',cursive;
    font-size: 3rem;
}
h2{
    font-family: 'Merriweather',cursive;
    line-height: 2;
}
li,p{
    font-family: 'Ubuntu',cursive;
    font-size: 1rem;
    line-height: 2;
}

tt{
    font-family: 'Merriweather',cursive;
    padding: 70px;
    font-size: 3rem;
}
td,th{
    font-size: 1.5rem;
    padding: 5px;
}
table{
    align-self: center;
    border: 5px solid black;
    border-style: double;
    padding: 7px;
    border-spacing: 5px;
}
.table{
    align-items: center;
    padding-left: 100px;
}